body {
    background-color: rgb(184, 184, 184);
}

#header{
    text-align: center;
}

#calculatorScreen {
    display: flex;
    width: 10em;
    height: 1em;
    margin-left: 4em;
    margin-right: 1em;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#clearScreen {
    border: 1px solid black;
    margin: .5em;
    padding: .5em;
    width: 1em;
    height: 1em;
    text-align: center;
}

#keypad {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#keypad li {
    border: 1px solid black;
    margin: .5em;
    padding: .5em;
    width: 2em;
    height: 2em;
    text-align: center;
}

.flex-grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.col {
    flex: 1;
  }